nav {
    background-color: lightseagreen;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    
    
 }

a {
    text-decoration:none;
    color: white;
    display: grid;

}

#navigation-links {
    display: inline-block;
}